ServiceBusApplication/Customer/Interface/Primary/Contract/Customer_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.globallogic.com/ESC/Customer/v1"
                  xmlns:ebmns_Create="http://www.globallogic.com/EBM/Customer/Create/v1"
                  xmlns:ebmns_Update="http://www.globallogic.com/EBM/Customer/Update/v1"
                  xmlns:ebmns_Publish="http://www.globallogic.com/EBM/Customer/Publish/v1"
                  xmlns:ebmns_Get="http://www.globallogic.com/EBM/Customer/Get/v1"
                  targetNamespace="http://www.globallogic.com/ESC/Customer/v1">
   <wsdl:types>
      <xs:schema>
         <xs:import namespace="http://www.globallogic.com/EBM/Customer/Create/v1"
                    schemaLocation="Create_Customer_v1.xsd"/>
         <xs:import namespace="http://www.globallogic.com/EBM/Customer/Get/v1"
                    schemaLocation="Get_Customer_v1.xsd"/>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="Create_Message_In">
      <wsdl:part name="In" element="ebmns_Create:Create_Customer_REQ"/>
   </wsdl:message>
   <wsdl:message name="Create_Message_Out">
      <wsdl:part name="Out" element="ebmns_Create:Create_Customer_RSP"/>
   </wsdl:message>
   <wsdl:message name="Create_Message_Fault">
      <wsdl:part name="Fault" element="ebmns_Create:Create_Customer_FRSP"/>
   </wsdl:message>
  
   <wsdl:message name="Get_Message_In">
      <wsdl:part name="In" element="ebmns_Get:Get_Customer_REQ"/>
   </wsdl:message>
   <wsdl:message name="Get_Message_Out">
      <wsdl:part name="Out" element="ebmns_Get:Get_Customer_RSP"/>
   </wsdl:message>
   <wsdl:message name="Get_Message_Fault">
      <wsdl:part name="Fault" element="ebmns_Get:Get_Customer_FRSP"/>
   </wsdl:message>
   <wsdl:portType name="Customer_PortType">
      <wsdl:operation name="Create">
         <wsdl:input message="tns:Create_Message_In"/>
         <wsdl:output message="tns:Create_Message_Out"/>
         <wsdl:fault name="DefaultFault" message="tns:Create_Message_Fault"/>
      </wsdl:operation>
     
      <wsdl:operation name="Get">
         <wsdl:input message="tns:Get_Message_In"/>
         <wsdl:output message="tns:Get_Message_Out"/>
         <wsdl:fault name="DefaultFault" message="tns:Get_Message_Fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Customer_SOAP12Binding"
                 type="tns:Customer_PortType">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Create">
         <soap12:operation soapActionRequired="true"
                           soapAction="http://www.globallogic.com/EBM/Customer/Create/v1"/>
         <wsdl:input>
            <soap12:body use="literal" parts="In"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" parts="Out"/>
         </wsdl:output>
         <wsdl:fault name="DefaultFault">
            <soap12:fault use="literal" name="DefaultFault"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="Get">
         <soap12:operation soapActionRequired="true"
                           soapAction="http://www.globallogic.com/EBM/Customer/Get/v1"/>
         <wsdl:input>
            <soap12:body use="literal" parts="In"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" parts="Out"/>
         </wsdl:output>
         <wsdl:fault name="DefaultFault">
            <soap12:fault use="literal" name="DefaultFault"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Customer_Service">
      <wsdl:port name="Customer_Port" binding="tns:Customer_SOAP12Binding">
         <soap12:address location="http://www.globallogic.com/ESC/Customer/v1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
